{% extends "base.html" %}
{% block body %}
  <a class="siteNameLink" href="#" onClick="menuOpen()">
    <h1>{{ site_name }}</h1>
  </a>
  <div class="menu">
    {% for article in articles %}
    <div class="menuItem" id="{{ article.name }}">
      <a class="articleLink" href="#{{ article.name }}" onClick="articleDetailOpen('articleDetail{{ article.id }}')">
        <h3 class="menuItemTitle">
          {{ article.name }}
        </h3>
      </a>
    </div>
      {% if article.movie_url %}
      <div class="articleDetail invisible" id="articleDetail{{ article.id }}">
        <h2 class="articleTitle">{{ article.name }}</h2>
        <video class="video" width="90%" controls>
          <source src="{{ article.movie_url }}" type="video/mp4"></source>
        </video>
	<div class="summary">
	  <p><h4>{{ article.summary }}</h4></p>
	</div>
	<div class="plot">
	  {% if article.plot %}
	  <h2>Trama</h2>
	  <p>{{ article.plot }}</p>
	  {% endif %}
	</div>
      </div>
      {% endif %}
    {% endfor %}
  </div>
  <script>
    function articleDetailOpen(articleId) {
      const articleDetail = document.getElementById(articleId);
      articleDetail.classList.remove("invisible");
      const menu = document.getElementsByClassName("menuItem");
      let fLen = menu.length;
      for (let i = 0; i < fLen; i++) {
        menu[i].classList.add("invisible")
      }
    }

    function menuOpen() {
      const menu = document.getElementsByClassName("menuItem");
      const articlesDetail = document.getElementsByClassName("articleDetail");
      let articlesDetailLen = articlesDetail.length;
      for (let i = 0; i < articlesDetailLen; i++) {
        articlesDetail[i].classList.add("invisible");
	articlesDetail[i].children[1].pause();
      }
      let menuLen = menu.length;
      for (let i = 0; i < menuLen; i++) {
        menu[i].classList.remove("invisible")
      }
    }
  </script>
{% endblock %}
