{% extends "base.html" %}
{% block body %}
  <h1>{{ site_name }}</h1>
  <div>
    {% for article in articles %}
      <div>
        <div onClick="articleOpen('collaps{{ article.id }}')" class="card">
          <h2 class="card-title">
            <p>{{ article.name }}</p>
          </h2>
        </div>
        <div>
          <video controls class="collaps" id="collaps{{ article.id }}">
            <source src="{{ article.movie_url }}" type="video/mp4"></source>
          </video>
        </div>
      </div>
    {% endfor %}
  </div>
<script>
function articleOpen(id) {
  var x = document.getElementById(id);
  if (x.className.indexOf("collaps") == -1) {
    x.className += "collaps";
  } else { 
    x.className = x.className.replace("collaps", "");
  }
}
</script>
{% endblock %}
