body {
  background-color: black;
	color: white;
}

.card {
  margin: 5px 5px 25px 5px;
  padding: 10px;
  border-radius: 10px;
  background-color: #252525;
}

.card-title {
  text-align: center;
  overflow: auto;
}

.collaps {
  display: none;
}
