body {
  background-color: black;
  color: white;
  font-size: 125%;
}

.menuItem {
  margin: 5px 5px 25px 5px;
  padding: 10px;
  border-radius: 10px;
  background-color: #252525;
}

.menuItemTitle {
  text-align: center;
  overflow: auto;
}

.articleTitle {
  text-align: center;
  overflow: auto;
}

.video {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.invisible {
  display: none;
}

.articleLink {
  color: white;
}

.articleLink:link {
  text-decoration: none;
}

.articleLink:visited {
  text-decoration: none;
}

.articleLink:hover {
  text-decoration: none;
}

.articleLink:active {
  text-decoration: none;
}

.siteNameLink {
  color: #38FA3D;
}

.siteNameLink:link {
  text-decoration: none;
}

.siteNameLink:visited {
  text-decoration: none;
}

.siteNameLink:hover {
  text-decoration: none;
}

.siteNameLink:active {
  text-decoration: none;
}

.back {
  position: fixed;
  bottom: 10px;
  right: 20px;
}
